{{ $footerContact := .Site.Data.profile.primary_contact }}
{{ $footerDesign := .Site.Data.design.footer }}
{{ $footerSocial := .Site.Data.profile.social_accounts }}
<footer class="footer">
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        {{ if $footerDesign.footer_logo }}
          <img src="{{ $footerDesign.footer_logo | absURL }}" alt="{{ .Site.Data.profile.primary_company_name }}" width="300" class="mb-5">
        {{ else }}
        {{ end }}
        <h2 class="title is-6 mb-0 has-text-black"></h2>
        <p>{{ $footerContact.license_type }} {{ $footerContact.license_number }}</p>
        {{ if $footerDesign.footer_bio }}
          <p class="pb-6">{{ $footerDesign.footer_bio }}</p>
        {{ end }}

      </div>
      <div class="column">
        <h4 class="title is-6 has-text-black is-uppercase">Links</h4>
        <ul>
          <li><a href="{{ .Site.BaseURL }}">Home</a></li>
          <li><a href="https://sandracervantes.idxhome.com/featured/133262">Featured Listings</a></li>
          <li><a href="https://sandracervantes.idxhome.com/homesearch/133262">Search the MLS</a></li>
          <li><a href="https://www.sandracervantes.com/home-value-request">Home Valuation</a></li>
          <li><a href="https://sandracervantes.idxhome.com/organizer/login/133262">Register/Login</a></li>
        </ul>
      </div>
      <div class="column">
        <h4 class="title is-6 has-text-black is-uppercase">Contact</h4>
            <p><a href="mailto:{{ $footerContact.email }}">{{ $footerContact.email }}</a></p>
            <p><a href="tel:{{ $footerContact.phone }}">{{ $footerContact.phone }}</a></p>
      </div>
      <div class="column has-text-centered">

                <!--(c)2013.  Certified Luxury Home Marketing Specialist is a registered trademark of The Institute for Luxury Home Marketing.  Unauthorized use of the mark or associated graphics is strictly prohibited.-->
                <a href="https://www.luxuryhomemarketing.com/clhms/mini-verified.html?m=070c0a11a2a031d3ac14fc3a4b14fd3f" onclick="window.open('https://www.luxuryhomemarketing.com/clhms/mini-verified.html?m=070c0a11a2a031d3ac14fc3a4b14fd3f','_blank','width=700,height=470,screenleft=100,screentop=100,left=100,top=100,scrollbars=1');return false;" >
                  <img src="https://www.luxuryhomemarketing.com/en/logo.html?m=070c0a11a2a031d3ac14fc3a4b14fd3f&v=10" border="0"/>
                </a>
                <img src="/uploads/nar.jpg" alt="" class="mt-3">

      </div>
    </div>
    <div class="columns">
<!--       <div class="column has-text-centered-mobile is-size-7">
        <small>&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.primary_company_name }}</small> &middot; <a href="https://hungryram.com" target="_blank" rel="nofollow">Website Developed by Hungry Ram</a>
      </div> -->
      <div class="column has-text-centered-mobile">
        <ul>
          {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
          <li class="is-inline"><a href="{{ .Permalink }}" class="is-size-7 mx-2">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>

{{ if not $.IsHome }}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{{ end }}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
</body>
</html>
