{{ $seo := .Site.Data.profile.search_engine_optimization }}
{{ $logo := .Site.Data.design.logo_and_title.logo }}
{{ $pageConfigSeo := .Site.Data.pageconfig }}

<!-- OPEN GRAPH -->
<meta property="og:url" content="{{ .Permalink }}" />
{{ if $.IsHome }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $seo.title_tag }}" />
    <meta property="og:description" content="{{ $seo.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/contact/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.contact_page.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.contact_page.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/listings/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.listing_page.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.listing_page.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/team/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.team_page.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.team_page.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/blog/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.blog_page.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.blog_page.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else }}
    <meta property="og:image" content="{{ if .Params.photos.gallery }}{{ index .Params.photos.gallery 0 |absURL }}{{ else }}{{ .Params.featured_image | absURL }}{{ end }}">
    <meta property="og:title" content="{{ if $.Params.search_engine_optimization.title_tag }}{{ $.Params.search_engine_optimization.title_tag }}{{ end }}" />
    <meta property="og:description" content="{{ if $.Params.search_engine_optimization.meta_description }}{{ $.Params.search_engine_optimization.meta_description }}{{ end }}" />
    <meta property="og:type" content="{{ if .Params.featured_image }}article{{ else }}website{{ end }}" />
{{ end }}
<!-- END OPEN GRAPH -->

<!-- BEGIN SEO -->
{{ if $.IsHome }}
    <title>{{ $seo.title_tag }}</title>
    <meta name="description" content="{{ $seo.meta_description }}">
{{ else if eq .RelPermalink "/contact/" }}
    <title>{{ $pageConfigSeo.contact_page.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.contact_page.meta_description }}">
{{ else if eq .RelPermalink "/listings/" }}
    <title>{{ $pageConfigSeo.listing_page.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.listing_page.meta_description }}">
{{ else if eq .RelPermalink "/team/" }}
    <title>{{ $pageConfigSeo.team_page.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.team_page.meta_description }}">
{{ else if eq .RelPermalink "/blog/" }}
    <title>{{ $pageConfigSeo.blog_page.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.blog_page.meta_description }}">
{{ else }}
    <title>{{ $.Params.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $.Params.search_engine_optimization.meta_description }}">
{{ end }}