<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">View Our Popular Searches</h2>
                <p>Browse through our listings in specific areas in the Southern California area.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=515&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-one">
                        <h4 class="title is-5">Los Angeles</h4>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=780&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-two">
                        <h4 class="title is-5">Riverside</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=406&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-three">
                        <h4 class="title is-5">Irvine</h4>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=39&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-four">
                        <h4 class="title is-5">Arcadia</h4>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=794&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-five">
                        <h4 class="title is-5">Rowland Heights</h4>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://sandracervantes.idxhome.com/listing/results/133262?cityId=459&location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                    <div class="tile tile-six">
                        <h4 class="title is-5">Lake Forest</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>