{{ $featured := .Site.Data.home.featured_section }}
{{ $featuredFirst := .Site.Data.home.featured_section.first_featured }}
{{ $featuredSecond := .Site.Data.home.featured_section.second_featured }}
<div class="section" style="padding-top:10%;padding-bottom:10%">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                {{ if $featured.subtitle }}
                    <h5 class="subtitle is-5 is-uppercase">{{ $featured.subtitle }}</h5>
                {{ end }}
                {{ if $featured.heading }}
                    <h2 class="title is-2 pt-5">{{ $featured.heading }}</h2>
                {{ end }}
                <div class="columns is-mobile">
                    <div class="column">
                        {{ if $featured.body }}
                        <p class="mb-6">{{ $featured.body }}</p>
                        {{ end }}
                    </div>
                    <div class="column">
                        <p>Here you will find a wide variety of useful information and resources designed to help you buy or sell a home more effectively in Southern California. From advice about finding a mortgage or preparing your home to sell, it's all available here on our web site.
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        {{ if $featured.link }}
                        <a href="{{ $featured.link }}" class="about-btn has-text-black">{{ $featured.link_text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ if $featuredFirst }}
                <div class="column">
                    <a href="{{ $featuredFirst.link }}" class="featured-container">
                        <div class="bg-image" style="background:url({{ $featuredFirst.image }}) no-repeat center;background-size:cover;height: 500px;">
                            <div class="inner-box">
                                <h2 class="title is-5 has-text-white">{{ $featuredFirst.subtitle }}</h2>
                                <h4 class="subtitle is-6">{{ $featuredFirst.heading }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>