<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <h2 class="title is-4">Let us help you find your home</h2>
                <p>Browse through our website and easily manage your property search. You will be able to save your home searches, receive emails of newly listed properties when they hit the market, and update your profile to ensure that you will be notified of changes in price or status of your favorite listings</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <div class="columns">
                    <div class="column">
                        <a href="" class="primary-btn">Search Homes</a>
                    </div>
                    <div class="column">
                        <a href="" class="primary-btn">Home Value</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>