<div class="listing-bg pt-6">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half is-offset-one-quarter content">
                    <h1 class="title is-3">Find the perfect home</h1>
                    <p>View our newest office listings</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <script type="text/javascript" src="https://www.idxhome.com/site/listing/gallery/slider/{{ $.Site.Data.idx.ihomefinder_client_id }}?columns=3&rows=1&effect=fade&auto=false"></script>
                </div>
            </div>
        </div>
    </div>
</div>