<div class="listing-bg pt-6" style="background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255, 0.8)),url(uploads/kitchenoverlay.jpg) no-repeat center;background-size:cover;">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half is-offset-one-quarter content">
                    <h1 class="title is-3">Our Featured Listings</h1>
                    <p>Our featured listings are updated hourly from the MLS. Need more information on some properties? Contact our team of agents. <a href="http://www.idxhome.com/organizer/emailAlerts/133408">Register</a> for an account to receive alerts for new listings that match your search criteria</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <script type="text/javascript" src="https://www.idxhome.com/site/listing/gallery/slider/133408?columns=3&rows=2&effect=fade&auto=false"></script>
                </div>
            </div>
        </div>
    </div>
</div>